@import 'tailwindcss';

@theme :root {
  --color-deep-blue: #1e2939;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family:
    system-ui,
    -apple-system,
    sans-serif;

  color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

